<!DOCTYPE html>
<html>
<head>
  <title>YelpR</title>
  <!-- Materilize Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <!--Font Awesome -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">YelpR</a>
      <ul id="nav-mobile" class="leftLinks left hide-on-med-and-down">
        <li><a href="/food"><i class="fa fa-cutlery"></i> Food</a></li>
        <li><a href="/shopping"><i class="fa fa-shopping-cart"></i> Shopping</a></li>
        <li><a href="/entertainment"><i class="fa fa-television"></i> Entertainment</a></li>
        <li><a href="/"><i class="fa fa-globe"></i> All</a></li>
        <li><a id="clearBtn" class="modal-trigger" href="#modal1"><i class="fa fa-building-o"></i> Add Business</a></li>
      </ul>
      <ul id="nav-mobile" class="rightLinks right hide-on-med-and-down">
      {{#with userinfo}}
        <li>Welcome {{userName}}!</li>
      {{/with}}
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </nav>

  <!-- Modal to add new places -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Add a new Business</h4>
      <div class="row">
        <form class="col s12" action="/loggedin" method="POST"> <!-- make an action/method where info from this form posts to a specific route ex: action="/login" method="post"-->
          <div class="row">
            <div class="input-field col s12">
              <input id="business_name" type="text" class="validate" name="business_name">
              <label for="business_name">Business Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="business_address" type="text" class="validate" name="business_address">
              <label for="business_address">Business Address</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 offset-s3">
              <select>
                <option value="" disabled selected>Select Business Category</option>
                <option value="1">Food / Drinks</option>
                <option value="2">Shopping</option>
                <option value="3">Entertainment</option>
              </select>
              <label>Select Business Category</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" type="submit" class="modal-action modal-close waves-effect waves-red btn addthings">Add Business</a>
    </div>
  </div>

  {{{ body }}}

  <!--jQuery-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <!-- Materilize Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <!-- Custom js -->
  <script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>