<!DOCTYPE html>
<html>
<head>
	<title>YelpR</title>
  <!-- Materilize Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <!--Font Awesome -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">YelpR</a>
      <ul id="nav-mobile" class="leftLinks left hide-on-med-and-down">
        <li><a href="/food"><i class="fa fa-cutlery"></i> Food</a></li>
        <li><a href="/shopping"><i class="fa fa-shopping-cart"></i> Shopping</a></li>
        <li><a href="/entertainment"><i class="fa fa-television"></i> Entertainment</a></li>
        <li><a href="/"><i class="fa fa-globe"></i> All</a></li>
      </ul>
      <ul id="nav-mobile" class="rightLinks right hide-on-med-and-down">
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a class="waves-effect waves-red btn modal-trigger addthings" href="#modal1">Add Business</a></li>
      </ul>
    </div>
  </nav>

  <!-- Modal to add new places -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

	{{{ body }}}



  <!--jQuery-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <!-- Materilize Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <!-- Custom js -->
  <script type="text/javascript" src="static/js/index.js"></script>
</body>
</html>