{{#if msg }}
  <p>{{msg}}</p>
{{/if}}

<!-- <div class="row">
  <form class="col s12">
  <h3>Log In</h3>
    <div class="row">
      <div class="input-field col s12">
        <input id="userName" type="text" class="validate">
        <label for="userName">User Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button class="waves-effect waves-light btn" type="submit">Log In</button>
  </form>
</div> -->

<div class="row">
  <form class="col s12" action="/login" method="POST">
    <div class="row">
      <div class="col s12 offset-s5">
       <h3>Login</h3>
      </div> 
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s4">
        <input id="userName" type="text" class="validate" name="userName">
        <label for="userName">UserName</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s4">
        <input id="password" type="password" class="validate" name="password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 offset-s7">
        <button class="btn waves-effect waves-light" type="submit" name="action">Log in
            <i class="material-icons right"></i>
        </button>
      </div> 
    </div>
  </form>
</div>