<div class="row">
  <form class="col s12" method="POST" action="/login">
    <div class="row">
      <div class="col s12 offset-s5">
       <h3>Login</h3>
      </div> 
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s4">
        <input id="userName" type="text" class="validate" name="userName">
        <label for="userName">UserName</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s4">
        <input id="password" type="password" class="validate" name="password">
        <label for="password">Password</label>
      </div>
    </div>
    {{#if msg}}
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel red">
          <span class="white-text">{{msg}}</span>
        </div>
      </div>
    </div>
    {{/if}}
    <div class="row">
      <div class="col s12 offset-s7">
        <button class="btn addthings waves-effect waves-light" type="submit" name="action">Log in
            <i class="material-icons right"></i>
        </button>
      </div> 
    </div>
  </form>
</div>