<div class="row">
  <form class="col s12">
    <h3>Register</h3>
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate" name="first_name">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate" name="last_name">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="userName" type="text" class="validate" name="userName">
        <label for="userName">UserName</label>
      </div>
    </div>
      <label for="birthdate" class="active">Birthdate</label>
      <input id="birthdate" type="text" class="datepicker picker__input" readonly="" tabindex="-1" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="birthdate_root">
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password">
        <label for="password">Password</label>
      </div>
    </div>
    <button class="waves-effect waves-light btn" type="submit">Submit</button>
  </form>
</div>