nav {
  background-image:
    linear-gradient(
      red, darkred, #282828
    );
}

body{
  background-color: #470000
}

h1, h5, li, h3, p{
  color: lightgrey;
}

.brand-logo{
  margin-left:100px;
}

.rightLinks{
  margin-right: 100px;
}

.leftLinks{
  margin-left: 200px
}

.thumbs{
  height: auto;
  width: 200px;
}

.parallax-container{
  height: 350px;
}

.header{
  font-size: 200px;
  color: darkgrey;
}

#entertainment{
  margin-top: 65px;
  font-size: 130px;
}

.comment{
  margin-left:5px;
}